* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: #ddd;
  }
  h2{
    padding: 2rem;
    text-align: center;
  }
img{
  padding: 1rem;
  width: 80%;
}
.skills{
  position: relative;
  left: 45%;
}
p{
  font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto; 
}
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  footer p {
    margin: 0;
  }